body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../images/cool-background.png');
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.font-weight-1000{
  font-weight: 1000;
}
.font-weight-700{
  font-weight: 700;
}
.not-visible{
  /* visibility: hidden; */
  display: none;
}

/* width */
::-webkit-scrollbar {
  height: 3px;
  width: 10px;
}
::-webkit-scrollbar:hover {
  height: 7px;
  /* width: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-bottom: solid 0.5px rgb(82, 82, 82);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(146, 146, 146, 0.459);
  /* transition: 5 ease-in-out 1s; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* height: 7px; */
  background: rgba(146, 146, 146, 0.692);
}
.loading{
  position: absolute;
  top: 50%;
  left: 7%;

  text-align: center;
  margin: 0 43.6%;
  font-size: 2rem;
  font-weight: 100;
}
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.loading-anim::before {
  animation: 1.5s cubic-bezier(0.68, 0, 0.4, 1.01) infinite spinner;
  animation-play-state: inherit;
  border: solid 3px #cfd0d1;
  border-bottom-color: #676767;
  border-radius: 50%;
  content: "";
  height: 35px;
  width: 35px;
  position: absolute;
  top: 50%;
  left: -25%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}


.home-page{
  display: flex;
  flex-direction: row;
}
.main-page{
  width: 100%;
}
.main-page-side-panel{
  width: 68%;
  display: flex;
  flex-direction: column;
}

.side-panel{
  z-index: 5;
  position:sticky; 
  top: 0;
  overflow-y: auto;
  height: 100vh;
  min-width: 380px;
  /* width: 50%; */
  background-color: rgb(67, 67, 67);
}
.side-panel-close-button{
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  height: 2rem;
  width: 2rem;
  color: rgb(122, 122, 122);
  position: relative;
  top: 0%;
  left: 45%;
  background-color: rgb(77, 77, 77);
  transition: 0.1s ease-in;
}
.side-panel-close-button:hover{
  color: rgb(150, 150, 150);
}
.selected-movie-heading{
  height: 100vh;
  padding-top: 1.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;

  background-color: rgb(41, 41, 41);
}
.movie-poster{
  height: 602px;
  width: 430px;
}
.selected-movie-heading h3{
  padding: 0 5%;
  font-size: 1.5rem;
  text-align: center;
}
.selected-movie-content{
  margin-top: 1.5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* background-color: turquoise; */
  justify-content: flex-start;
  align-items: flex-start;
}
.selected-movie-content h3{
  color: rgb(231, 231, 231);
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

.Navbar{
  /* background-color: rgb(37, 37, 37); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 20px 16px 0;
}
.nav-links{
  display: flex;
  flex-direction: row;
  width: 30vw;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-link-norm{
  margin: 0 10px;
  color: rgb(171 171 171);
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  transition: 0.1s ease-in;
}
.nav-link-norm:hover{
  color: rgb(237, 246, 253);;
  border-bottom: solid 3px rgb(94, 94, 94);
}
.nav-link-high{
  margin: 0 10px;
  color: rgb(237, 246, 253);
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  border-bottom: solid 3px rgb(153, 153, 153);
  transition: 0.1s ease-in;
}
.search-box{
  position: absolute;
  left: 24vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.form-input-search{
  color: rgb(209, 209, 209);
  height: 36px;
  width: 50vw;
  max-width: 500px;
  min-width: 230px;
  border-radius: 5px 0 0 5px;
  border: 2px solid rgb(48, 48, 48);
  background-color: rgb(18, 18, 18);
  padding: 2px 8px;
  /* box-shadow: inset 0 1px 2px; */
  font-size: 1rem;
  border-right: none;
}
.form-input-search:focus{
  border: 2px solid rgb(48, 48, 48);
  border-right: none;
  outline: none;
}
.search-history{
  z-index: 3;
  /* height: 60vh; */
  width: 51.7vw;
  /* width: 50vw; */
  max-width: 519px;
  min-width: 249px;
  background-color: #333333ed;
  border-radius: 4px;
  position: absolute;
  left: 0vw;
  top: 45px;;
}
.history-list{
  margin: 0;
  padding: 8px;
  color: #e6e6e6;
}
.history-element{ 
  display: flex;
  font-size: 1.2rem;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  padding: 2.5px 10px;
  height: 1.8rem;
  border-bottom: 2px solid #898989;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.history-element:hover{
  background-color: #464646ed;
}
.history-element-title{
  flex-grow: 1;
  cursor: pointer;
}
.delete-history{
  padding: 0 5px;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.delete-history:hover{
  color: #898989;
}
.close-history{
  list-style-type: none;
  margin: 10px 0;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.1s ease-in;
}
.close-history:hover{
  color: white;
}
.form-submit-search{
  background-color: rgb(94, 94, 94);
  color: rgb(194, 194, 194);
  height: 44px;
  width: 50px;
  border: 2px solid rgb(48, 48, 48);
  border-left: none;
  border-radius: 0 3px 3px 0;

  font-size: 1rem;
  font-weight: 100;
  cursor: pointer;
  transition: 0.1s ease-out;
}
.form-submit-search:hover{
  background-color: rgb(119, 119, 119);
}

.movie-list-heading{
  font-size: 3rem;
    padding: 20px 42px 0;
    font-weight: 100;
}

.movie-list{
  margin-top: 30px;
  margin-left: 5vw;
  width: 90vw;
  /* padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  flex-wrap: nowrap;
  overflow-x: auto; */
}
.movie-element{
  z-index: 1;
  height: 595px;
  width: 336px;
  border-left: 20px solid transparent ;
  border-right: 20px solid transparent ;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 5px 42px;
  
  transition: all 0.2s ease-in-out 0s;
}
.movie-element:hover{
  padding-top: 0;
  padding-bottom: 10px;
  cursor: pointer;
}
.movie-element img{
  /* height: 595px; */
  /* width: 425px; */
  height: 595px;
  width: 425px;
}
.movie-element:hover .movie-element-tag{
  opacity: 1;
}
.movie-element-tag{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  
  opacity: 0;
  width: 425px;
  height: 238px;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7206232834930848) 43%, rgba(0,0,0,1) 100%);
  position: absolute;
  margin: 357px 0 0;
  transition: all 0.2s ease-in-out 0s;
}
.favorite-heading{
  color: rgb(243, 187, 44);
}
.add-favorite:hover{
  transition: 0.1s ease-in;
}
.add-favorite:hover{
  color: rgb(243, 187, 44);
}
.is-favorite{
  color: rgb(240, 105, 105);  
  transition: 0.2s ease-out;
}
.is-favorite:hover{
  color: rgb(255, 55, 55);  
  font-size: 1.3rem;
  /* padding-bottom: 3px; */
}
.movie-element-text-box{
  text-align: center;
  padding: 0 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.move-panels{
  z-index: 2;
  position: relative;
  color: white;
  background-color: rgba(80, 80, 80, 0.6);
  min-width: 30px;
  height: 595px;
  /* max-height: 595px; */
  transition: 0.1s ease-in-out;
}
.move-panels:hover{
  background-color: rgba(80, 80, 80, 0.8);
}
.move-right-arrow{
  position: sticky;
  top: 1.4%;
  right: 0%;
  align-self: flex-start;
}
.move-left-arrow{
  position: sticky;
  top: 1.4%;
  left: 0%;
  align-self: flex-start;
}

.center-align{
  padding: 964% 32%;
}